{% extends 'index.html' %}
{% block modal %}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">DISCLAIMER</h5>          
        </div>
        <div class="modal-body">
          <p>AI professor Application is build using Azure cognitive services : Azure Cognitive Search , Langugage service for text classification and custom entity recognition and azure speech service.</p>  
          <p>The services are obtained with free or minimum pricing tier as intial development product.</p>
          <p>This application has voice search capablity which is built using Azure Speech service.Speech-to-text, also known as speech recognition, enables real-time transcription of audio streams into text.</p>
          <p>User is liable to upload documents which contains critical data and/or Personal Identified Information for classification. All documents are stored in Azure blob storage. </p>
        </div>
        <div class="modal-footer">
          <a href="/default" class="btn btn-primary" data-dismiss="modal">I understand !</a>
          
        </div>
      </div>
    </div>
  </div> 
{% endblock %}

{% block script %}
<script type = "text/javascript">
    $(document).ready(function(){
            console.log('window loaded')
            $("#exampleModalCenter").modal('show');
        
    });

</script>
{% endblock %}